html, body, #wrapper {
	height: 100%;
}

*{
	padding:0;
	margin:0;	
}

h1{
	text-align:center;
	margin:30px;
}


div{
   width:200px;
   height:200px;
   margin:50px; 
   border:1px solid black;
}


/* ***************************** BOX 1 ********************* */

div.box1 {
	transition: width 1s, font-size 1s;
}

div.box1:hover {
	width: 400px;
	font-size: 1.5em;	/*aumenta del 50% rispetto al genitore*/
	cursor: zoom-in;
}

div.box2 {
	transition: color 2s, transform 2s;
}

div.box2:hover {
	color: red;
	transform: rotate(180deg);
}

div.box3 {
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	background-color: #ddd;
	color: #555;
	transition: color 500ms, background-color 500ms, transform 500ms;
	user-select: none;
}

div.box3:hover {
	color: #ddd;
	background-color: #555;
	transform: scale(1.15);
	cursor: pointer;
}

div.box4 {
	transition: transform 2s;
}

div.box4:hover {
	transform: rotate(180deg);
}

div.box4 p {
	width: inherit;
	height: inherit;
	margin: 0;
	transition: transform 2s;
}

div.box4:hover p {
	transform: rotate(-180deg);
}