* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #fca800;
	font-size: 12pt;

}

body {
	background-color: black;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

form {
	width: 500px;
	background-color: #333;
	margin: 50px auto;
	padding: 25px;
	border-radius: 20px;
	position: relative;
}

form > label, form > input[type=text] {
	height: 30px;
	margin: 10px 0;
	vertical-align: middle;
}

form > label {
	width: 150px;
	color: #ddd;
	float: left;
}

form > textarea, form > input[type=text] {
	width: 300px;
	font-size: 9pt;
	color: white;
	background-color: #1c1c1c;
	border: 1px solid #323232;
}

form > textarea {
	width: 335px;
	height: 200px;
}

input[type=text] {
	background-image: url(img/matita.png);
	background-repeat: no-repeat;
	padding-left: 35px;
}

input[type=button] {
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: orange;
	text-align: center;
	color: #111;
	font-weight: bold;
	margin: 10px 0;
	border-radius: 10px;
}

input[type=text]:focus {
	color: orange;
}

input[type=button]:hover {
	background-color: #111;
	color: orange;
	cursor: pointer;
}

form div {
	background-image: url(img/vallauri.png);
	width: 138px;
	height: 91px;
	margin: 50px 0;
	position: absolute;
	left: 25px;
	top: 200px;
}

form div p {
	font-size: 15pt;
	font-weight: bold;
	padding-left: 10px;
	color: rgba(255, 255, 255, 0);
}

form div p:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 80%);
}