.pulsante{
	display:block;
	border:1px solid #345;	/*sta per 334455*/
	width:100px;
	margin:6px;
	padding:8px;
	text-align:center;
	background-color:#CCC;	/*sta per CCCCCC*/
	color:#444;	/*sta per 444444*/
	font-weight:bold;
	border-left-width:4px;
	text-decoration:none;
}
.pulsante:hover{
	text-decoration:underline;
	color:#CCC;
	background-color:#444;
}