* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

#header h1 a {
	margin: 15px;
	text-decoration: none;
	color: #555;
	font-weight: normal;
}

body {
	background-image: url(img/bg.gif);v
	background-repeat: repeat-y;
	background-position: center;
	background-color: rgb(234, 234, 234);
}

#wrapper {
	width: 760px;
	margin: 10px auto;
	padding: 4px;
}

#header {
	height: 275px;
	background-image: url(img/front.jpg);
	margin-bottom: 10px;
	color: #505050;
}

#leftFrame {
	width: 150px;
	height: 450px;
	float: left;
}

ul {
	list-style-type: none;
}

div > ul {
	width: 150px;
	margin-bottom: 20px;
}

div#leftFrame ul > li > a {
	display: block;
	width: 135px;
	height: 20px;
	padding-top: 6px;
	padding-left: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #505050;
	background-color: rgb(232, 232, 232);
	border: 1px solid #d8d8d8;
	border-left-color: #ccc;
	border-left-width: 4px;
}

div#leftFrame > ul > li > ul {
	width: 135px;
	margin: 5px 15px;
	margin-right: 0px;
	font-size: 0.9em;
}

div#leftFrame ul ul li a {
	width: 122px;
	height: 16px;
	padding-top: 4px;
	padding-left: 8px;
}

#secondLevelButtons {
	margin-left: 15px;
	margin-bottom: 0px;
}

a:hover {
	background-color: rgb(216, 216, 216);
	border-color: #b0b0b0;
	border-left-color: #505050;
}

.announce {
	width: 150px;
	height: 150px;
	color: #505050;
	background-color: rgb(232, 232, 232);
	border-color: #d8d8d8;
	border-left: 4px solid #ccc;
}

.textright {
	text-align: right;
	font-weight: bold;
}

.textright a {
	color: #555;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	font-size: 1.5em;
}

#rightFrame {
	width: 130px;
	height: 450px;
	font-size: 0.9em;
	float: right;
}

#rightFrame p {
	margin-bottom: 16px;
	line-height: 14px;
}

#rightFrame ul {
	margin-bottom: 16px;
	line-height: 14px;
	list-style: none;
	padding-left: 0px;
}

#rightFrame li {
	margin-bottom: 16px;
}

#rightFrame a {
	font-weight: bold;
}

#rightFrame h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 6px;
	letter-spacing: -1px;
}

#rightFrame a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

input {
	width: 90%;
}

#mainFrame {
	width: 460px;
	height: 450px;
	font-size: 0.9em;
	margin-left: 160px;
	margin-right: 10px;
	line-height: 19px;
}

#mainFrame a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

#bottomFrame {
	border-top: 2px solid #dadada;
	margin: 10px 0px;
	padding-left: 8px 0px;
	text-align: center;
}