* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	margin: 25px;
	font-size: 20pt;
}

a {
	display: block;
	width: 160px;
	height: 45px;
	background-color: #CCC;
	border: 1px solid #AAA;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	text-decoration: none;
	margin: 2px;
	color: #66A;
	border-left-width: 5px;
	border-radius: 6px;
	/*Larghezza pulsante = 160 + 0 (padding) + 6 (border --> 5 left + 1 right) + 4 (margin --> 2 + 2) = 170*/
}

a:hover {
	text-decoration: underline;
	color: #CCC;
	background-color: #66A;
}

ul {
	margin: 10px auto;
	list-style-type: none;
}

ul.verticale {
	width: 170px;
}

ul.orizzontale {
	width: 680px; /*170 * 4*/
	text-align: center;
}

ul.orizzontale li a {
	margin: 0px;
}

ul.orizzontale li {
	display: inline-block;
}