* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	color: white;
	margin: 15px;
}

body {
	background-color: #689;
}

#wrapper {
	width: 350px;
	padding: 30px;
	margin: 10px auto;
	background-color: white;
	border-radius: 10px;
}

input {
	border: none;	/*bordo a riposo*/
	outline: none;	/*bordo attivo*/
	vertical-align: middle;
}

#wrapper > div {	/*il > indica che le proprietà CSS vengono apportate solo ai figli diretti di #wrapper*/
	border: 1px solid black;
	margin-left: 10%;
	margin-bottom: 15px;
	border-radius: 6px;
	padding: 6px;
	width: 80%;
}

#wrapper > div > div:first-of-type {	/*con maggiore o senza in questo caso non cambia*/
	background-image: url(icons.png);
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

#wrapper div div {
	display: inline-block;
}

#wrapper > div:nth-of-type(1) > div {
	background-position-x: -144px;	/*9(posizione icona in immagine) * 16(pixel dimensione icona)*/
	background-position-y: -96px;	/*6(posizione icona in immagine) * 16(pixel dimensione icona)*/
}

#wrapper > div:nth-of-type(2) > div {
	background-position-x: -192px;	/*12(posizione icona in immagine) * 16(pixel dimensione icona)*/
	background-position-y: -96px;	/*6(posizione icona in immagine) * 16(pixel dimensione icona)*/
}

#wrapper > div:nth-of-type(3) > div:first-of-type {
	background-position-x: -64px;	/*4(posizione icona in immagine) * 16(pixel dimensione icona)*/
	background-position-y: -144px;	/*9(posizione icona in immagine) * 16(pixel dimensione icona)*/
}

