* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

h1 {
	text-align: center;
	margin: 15px;
}

html, body, #wrapper {
	height: 100%;
}

div {
	width: 760px;
	height: 800px;
	margin: auto;
}

div:first-of-type {
	background-color: #ffa;
}

div:last-of-type {
	background-color: #aff;
}