* {
	/*CSS reset*/
	
	padding:0;
	margin:0;
}

body {
	background-color: #689;
}

div#wrapper {
	width: 350px;
	margin: 0px auto;
	padding: 30px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

div {
	margin: 10px;
}

h1 {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	color: white;
}

a {
	display: block;
	width: 160px;
	height: 30px;
	background-color: #689;
	border: 1px solid #689;
	text-align: center;
	text-decoration: none;
	margin: 2px auto;
	line-height: 30px;
	color: #FFF;
	border-radius: 6px;
}

a:hover {
	background-color: #aaf;
	border: 1px solid #333;
	color: black
}

input {
	border-radius: 6px;
	border: 1px solid #689;
	height: 30px;
}